@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(7, 134, 134, 0.6)),url(bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    padding: 1rem 3rem 0 3rem;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    padding-inline: 1rem;
}

a:hover {
    opacity: 0.7;
}

.left-nav {
    display: flex;
}

.mid-nav a {
    font-size: 1.25rem;
}

.right-nav img {
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mid-info {
    color: white;
    padding: 10rem 5rem 0 5rem;
}

.name {
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 1;
}

.name span {
    font-weight: 900;
    letter-spacing: 2px;
}

.work {
    letter-spacing: 2.5px;
}

.sec-des {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f9fafb;
    color: rgb(194, 34, 34);
    display: flex;
    align-items: center;
    padding: 9rem 7.5rem;
    justify-content: space-between;
}

.sec-des-left {
    width: 50ch;
}

.sec-des p {
    line-height: 2;
}

h3 {
    font-size: 3rem;
    color: rgb(210, 15, 15);
}

.sec-des img {
    width: 30vw;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.exp {
    padding: 10.1rem 7.5rem;
    background: #0c0909;
    color: rgb(235, 235 , 235);
}

.exp h3 {
    background: #0c0909;
    color: rgb(220, 20, 20);
}

.exp img {
    border-radius: 10px;
    width: 30vw;
}

.exp-left {
    order: 2;
}

.contact {
    padding: 9rem 7.5rem;
    color: rgb(194, 34, 34);
}

.contact > p {
    color: black;
}

h2 {
    font-size: 10rem;
}

.projects {
    padding: 10.1rem 7.5rem;
    background: #0c0909;
    color: rgb(235, 235 , 235);
}

.projects h3 {
    background: #0c0909;
    color: rgb(220, 20, 20);
}

.project {
    display: flex;
    align-items: center;

}

.project-details {
    width: 50%;
}

.project-info p {
    line-height: 2;
}

.project-image {
    width: 30%;
    text-align: right;
}

.project-image img {
  border-radius: 10px;
    width: 40vw;
}

.number {
    font-weight: 600;
    text-decoration: underline;
}

.contact-text1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.email {
    font-weight: 600;
    font-size: 1.25rem;
}

hr {
    width: 95vw;
    margin: 0 auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    color: rgb(194, 34, 34);
}

footer a {
    text-decoration: none;
    padding-inline: 1.25rem;
    color: rgb(194, 34, 34);
}

footer p {
    font-weight: 500;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
  nav {
    padding: 1rem 1rem 0 1rem;
  }

  .left-nav {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .mid-nav a {
    font-size: 1rem;
  }

  .right-nav img {
    height: 30px;
  }

  .sec-des {
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem;
  }

  .sec-des-left {
    width: 80%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .sec-des img {
    width: 70%;
  }

  .exp {
    padding: 5rem 1rem;
  }

  .exp img {
    width: 70%;
  }

  .contact,
  .projects {
    padding: 5rem 1rem;
  }

  .projects .project {
    flex-direction: column;
    align-items: center;
  }

  .project-image img {
    width: 70%;
  }

  .footer {
    padding: 1rem;
  }

  .footer a {
    padding-inline: 0.5rem;
    font-size: 0.8rem;
  }
}


@media only screen and (min-width: 1200px) {
  nav {
    padding: 1rem 3rem 0 3rem;
  }

}


@media only screen and (max-width: 767px) {
  nav {
    padding: 1rem 1rem 0 1rem;
  }

  .left-nav {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .mid-nav a {
    font-size: 1rem;
  }

  .right-nav img {
    height: 30px;
  }

  .sec-des {
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem;
  }

  .sec-des-left {
    width: 80%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .sec-des img {
    width: 70%;
  }

  .exp,
  .contact,
  .projects {
    padding: 5rem 1rem;
  }

  .exp img,
  .projects .project-image img {
    width: 70%;
  }

  h2 {
    font-size: 5rem;
  }

  footer {
    padding: 1rem;
  }

  footer a {
    padding-inline: 0.5rem;
    font-size: 0.8rem;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {

}


@media only screen and (min-width: 1024px) {
  nav {
    padding: 1rem 3rem 0 3rem;
  }

}


